@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.my-header
		header
			.h3
				font-size: 100px

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)
	ul
		margin-top: 40px
		li
			margin-bottom: 25px
	.my-header
		header
			.h3
				font-size: 80px
	.design
		.devices
			.phone
				left: 50%
// ≥576px
+media-breakpoint-down(xs)
	.my-header
		header
			.h3
				font-size: 60px
			.h2
				font-size: 36px
	.design
		.devices
			.phone
				left: 40%


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
